<h2>Update</h2>
<form action="/api/user/update/{{user._id}}" method="post">
     <br>
     <label for="nombre">Nombre</label>
     <input type="text" id="nombre" name="nombre" value="{{ user.name }}">
     <br>
     <label for="nombre">Apellido</label>
     <input type="text" id="Apellido" name="Apellido" value="{{ user.apellido }}">
     <br>
     <label for="nombre">Email</label>
     <input type="text" id="email" name="email" value="{{ user.email }}">
     <br>
     <label for="nombre">Carrera</label>
     <input type="text" id="carrera" name="carrera" value="{{ user.carrera }}">
     <br>
</form>